/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
    
background:#22baab url(../img/Background.jpeg) fixed no-repeat center;
color:beige;
background-size:cover;
font-family:
}


#container {
	
}

Section{
background:orange;
border: 1px solid black;
padding:10px;
margin:20px;
}

section#second{
background:#2264ba;
}

h1,h2{
text-align:center;
}






/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
    
#container{
width:700px;
margin:auto;
border:1px solid black;
    }	
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {

#container{
Width:1000px;

    }	
	
section#first{
float:left;
width:40%;
    }	
    
Section#second{
float:right;
width:40%;
    }    
    
footer{
clear:both;    
    }
} /* closes 1024px+ */



