/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {

background: #a2c9fc;
	
}


#container {
	
}

div#sqaure {
height:100px;
width:100px;
background: orange;
position:absolute;
bottom:500px;
right:200px;
transition:background 2s, height 2s;*/
transition: all 1s;
}

div#sqaure:hover{
background:red;
height:300px;
border:10px solid green;
transform: skew(40deg);
}

div#triangle {
width:0;
height:0;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-bottom: 50px solid #080;
position:absolute;
bottom:400px;
background:red;
left:50px;
transition:background 1s;
transition: all 1s;
}

div#triangle:hover{
transform:rotate(360deg);
background:purple;
border: 10px solid pink;
}

div#sun{
width:120px;
height:120px;
background:yellow;
border-radius:50%;
box-shadow:15px 15px 0 0 purple;
position: absolute;
right:900px;
transition:background 1s;
transition: all 1s;
}

div#sun:hover{
transform:rotate(180deg);
border: 5px solid yellow;
background:yellow;
    }

div#moon{
width:120px;
height:120px;
border-radius:70px;
box-shadow: 15px 15px 0 0 black;
position:absolute;
right:900px;
bottom:300px;
background:white;
transition:background 1s;
transition:all 1s;
}

div#moon:hover{
transform:rotate(-180deg);
border: 5px solid white;
background:white;
}

div#space{
box-shadow: 0 0 0 1em green,
0 1em 0 1em green,
-2.5em 1.5em 0 .5em green,
2.5em 1.5em 0 .5em green,
-3em -3em 0 0 green,
3em -3em 0 0 green,
-2em -2em 0 0 green,
2em -2em 0 0 green,
-3em -1em 0 0 green,
-2em -1em 0 0 green,
2em -1em 0 0 green,
3em -1em 0 0 green,
-4em 0 0 0 green,
-3em 0 0 0 green,
3em 0 0 0 green,
4em 0 0 0 green,
-5em 1em 0 0 green,
-4em 1em 0 0 green,
4em 1em 0 0 green,
5em 1em 0 0 green,
-5em 2em 0 0 green,
5em 2em 0 0 green,
-5em 3em 0 0 green,
-3em 3em 0 0 green,
3em 3em 0 0 green,
5em 3em 0 0 green,
-2em 4em 0 0 green,
-1em 4em 0 0 green,
1em 4em 0 0 green,
2em 4em 0 0 green;
background: green;
width: 1em;
height: 1em;
overflow: hidden;
margin: 50px 0 70px 65px;
position:absolute;
right:950px;
bottom:550px;
transition:background 1s;
transition: all 1s;    
}

div#space:hover{
transform:rotatez(45deg);
}

div#pacman{
width: 0px;
height: 0px;
border-right: 60px solid transparent;
border-top: 60px solid yellow;
border-left: 60px solid yellow;
border-bottom: 60px solid yellow;
border-top-left-radius: 60px;
border-top-right-radius: 60px;
border-bottom-left-radius: 60px;
border-bottom-right-radius: 60px;
position:absolute;
bottom:150px;
right:500px;
transition:background 1s;
transition: all 1s;
}

div#pacman:hover{
transform:translatey(60px);
transform:rotate(360deg);
border:5px solid yellow;
background:yellow;
}

div#parallelogram{
width:150px;
height:100px;
transform:skew(20deg);
background:blue;
position:absolute;
left:250px;
bottom:560px;
transition:background 1s;
transition: all 1s;
}

div#parallelogram:hover{
transform:scaleX(50%);
border: 10px solid purple;
background:orange;
}

div#rectangle{
width:200px;
height:100px;
background:white;
position:absolute;
bottom:200px;
left:300px;
transition:background 1s;
transition: all 1s;
}

div#rectangle:hover{
transform:translate(50px);
background:red;
border:10px solid red;
}

div#oval{
width:200px;
height:100px;
background:purple;
border-radius:100px / 50px;
position:absolute;
right:100px;
transition: background 1s;
transition: all 1s;
}

div#oval:hover{
transform:scale(120%);
background:green;
border:10px solid green;
}

div#egg{
display:block;
width:126px;
height:180px;
background-color:beige;
border-radius:50% 50% 50% 50% / 60% 60% 40% 40%;
position:absolute;
left:100px;
bottom:800px;
transition: background 1s;
transition: all 1s;
}

div#egg:hover{
transform:skew(40deg);
}